:root {
	--theme-color: darkblue;
	--primary-border-color: black;
	--faint-bright: #C0C0C0;
	--faint-dark: #404040;

	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;

	--font-size-small: small;

	--first-grid-val: 1 / 2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: var(--theme-color);
	padding: 10px;
	overflow: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
nav a {
	color: white;
	display: block;
	padding: 0.5rem;
	text-decoration: none;
}

h1 {
	color: var(--theme-color);
	border-bottom: black 2px solid;
}

main {
	max-width: 840px;
	text-shadow: 0 0 0.25em white;
}
main img {
	width: 150px;
	height: auto;
	border: 1px solid var(--primary-border-color);
	padding: 2px;
	box-shadow: 0 0 30px gray;
}
.profile-img {
	float: right;
}

p {
	padding: 0;
}

header, footer, .grid {
	max-width: 840px;
	margin: 0 auto;
}

aside {
	width: 600px;
	margin: var(--spacing-md);
	border: var(--primary-border-color) solid 2px;
	padding: var(--spacing-sm);
	background-color: var(--faint-bright);
	color: var(--faint-dark);
}
.aside-grid {
	display: grid;
	grid-template-columns: 1fr 200px;
	gap: 0.5em;
	grid-template-rows: 1fr;
}
.aside-grid>.cited-img-wrapper {
	grid-column: 2 / 3;
	grid-row: var(--first-grid-val);
}
aside img {
	width: 200px;
	height: auto;
}
.aside-grid>p {
	grid-column: var(--first-grid-val);
	grid-row: var(--first-grid-val);
	margin: 0;
}

footer {
	margin-top: var(--spacing-lg);
	border-top: var(--faint-bright) solid 2px;
	text-align: center;
}

.cited-img-wrapper {
	width: min-content;
}
cite {
	font-size: var(--font-size-small);
}

/*Class Selectors*/

.box {
	margin: 1rem;
	padding: 1rem;
	border: black solid 2px;
	width: fit-content;
}